LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT

IDD_STATUSWINDOW_DLG DIALOGEX 0, 0, 275, 78
STYLE NOT WS_VISIBLE | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP
CAPTION "Kérem várjon..."
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL IDB_REACTOS, IDC_ROSLOGO, "Static", SS_BITMAP, 0, 0, 275, 54
    CONTROL "", IDC_BAR, "Static", SS_OWNERDRAW, 0, 44, 275, 4
    LTEXT "", IDC_STATUSLABEL, 7, 59, 235, 12, SS_WORDELLIPSIS
END

IDD_PS2MOUSEPROPERTIES DIALOGEX 0, 0, 252, 218
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Haladó beállítások"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "", IDC_PS2STATIC, 5, 20, 242, 110
    RTEXT "&Mintavételi ráta:", -1, 10, 35, 90, 8
    LTEXT "jelentés másodpercenként", -1, 152, 35, 95, 8
    COMBOBOX IDC_PS2MOUSESAMPLERATE, 107, 33, 42, 41, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
    RTEXT "&Görgő érzékelés:", -1, 10, 55, 90, 8
    COMBOBOX IDC_PS2MOUSEWHEEL, 107, 53, 125, 46, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
    RTEXT "&Bemeneti puffer hossza:", -1, 10, 75, 90, 8
    LTEXT "csomag", -1, 152, 75, 26, 8
    EDITTEXT IDC_PS2MOUSEINPUTLEN, 107, 72, 40, 14, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_BORDER
    CONTROL "", IDC_PS2MOUSEINPUTUPDN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 151, 70, 10, 14
    AUTOCHECKBOX "Gyo&rs inicializálás", IDC_PS2MOUSEFASTINIT, 107, 97, 90, 10
    PUSHBUTTON "&Alapértelmezett beállítások", IDC_PS2MOUSEDEFAULTS, 143, 188, 100, 14
END

STRINGTABLE
BEGIN
    IDS_STATUS_INSTALL_DEV "Eszközök telepítése..."
END

/* ATTENTION: Synchronize these strings with dll/win32/shell32/lang */
STRINGTABLE
BEGIN
    IDS_PROGRAMFILES "%SystemDrive%\\Programfájlok"
    IDS_COMMONFILES "Common Files"
END

STRINGTABLE
BEGIN
    IDS_DETECTIONDISABLED "Érzékelés letiltása"
    IDS_LOOKFORWHEEL "Görgő keresése"
    IDS_ASSUMEPRESENT "Görgő jelenlétének feltételezése"
END

STRINGTABLE
BEGIN
    IDS_INSTALLADDONSCAPTION "Optional Components"
    IDS_INSTALLADDONSMESSAGE "Optional components are available to improve application compatibility.\n\nWould you like to download and install them?"
    IDS_INSTALLADDONSFAILEDMESSAGE "One or more optional components failed to install."
END
