/*
 * PROJECT:     ReactOS System Setup Library
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Portuguese (Portugal) resource file
 * TRANSLATOR:  Copyright 2019-2026 Jose Carlos Jesus <zecarlos1957@hotmail.com>
 */

LANGUAGE LANG_PORTUGUESE, SUBLANG_NEUTRAL

IDD_STATUSWINDOW_DLG DIALOGEX 0, 0, 275, 78
STYLE NOT WS_VISIBLE | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP
CAPTION "Por favor aguarde..."
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL IDB_REACTOS, IDC_ROSLOGO, "Static", SS_BITMAP, 0, 0, 275, 54
    CONTROL "", IDC_BAR, "Static", SS_OWNERDRAW, 0, 44, 275, 4
    LTEXT "", IDC_STATUSLABEL, 7, 59, 235, 12, SS_WORDELLIPSIS
END

IDD_PS2MOUSEPROPERTIES DIALOGEX 0, 0, 252, 218
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Definições avançadas"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "", IDC_PS2STATIC, 5, 20, 242, 110
    RTEXT "&Frequência de amostragem:", -1, 27, 35, 90, 8
    LTEXT "Relatórios por segundo", -1, 169, 35, 76, 8
    COMBOBOX IDC_PS2MOUSESAMPLERATE, 124, 33, 42, 41, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
    RTEXT "&Detecção da roda:", -1, 27, 55, 90, 8
    COMBOBOX IDC_PS2MOUSEWHEEL, 124, 53, 120, 46, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
    RTEXT "&Tamanho da memória intermédia:", -1, 27, 75, 90, 8
    LTEXT "pacotes", -1, 169, 75, 26, 8
    EDITTEXT IDC_PS2MOUSEINPUTLEN, 124, 72, 40, 14, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_BORDER
    CONTROL "", IDC_PS2MOUSEINPUTUPDN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 168, 70, 10, 14
    AUTOCHECKBOX "&Iniciação rápida", IDC_PS2MOUSEFASTINIT, 124, 97, 90, 10
    PUSHBUTTON "&Predefinições", IDC_PS2MOUSEDEFAULTS, 195, 188, 50, 14
END

STRINGTABLE
BEGIN
    IDS_STATUS_INSTALL_DEV "A instalar dispositivos..."
END

/* ATTENTION: Synchronize these strings with dll/win32/shell32/lang */
STRINGTABLE
BEGIN
    IDS_PROGRAMFILES "%SystemDrive%\\Ficheiros de programas"
    IDS_COMMONFILES "Ficheiros comuns"
END

STRINGTABLE
BEGIN
    IDS_DETECTIONDISABLED "Detecção desabilitada"
    IDS_LOOKFORWHEEL "Detectar a roda do rato"
    IDS_ASSUMEPRESENT "Assumir que roda está presente"
END

STRINGTABLE
BEGIN
    IDS_INSTALLADDONSCAPTION "Optional Components"
    IDS_INSTALLADDONSMESSAGE "Optional components are available to improve application compatibility.\n\nWould you like to download and install them?"
    IDS_INSTALLADDONSFAILEDMESSAGE "One or more optional components failed to install."
END
