/*
 * PROJECT:     ReactOS System Setup Library
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Turkish resource file
 * TRANSLATORS: Copyright 2012 Arda Tanrıkulu <ardatanrikulu@gmail.com>
 *              Copyright 2016, 2020 Erdem Ersoy <erdemersoy@erdemersoy.net>
 *              Copyright 2021 Süleyman Poyraz <zaryob.dev@gmail.com>
 */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

IDD_STATUSWINDOW_DLG DIALOGEX 0, 0, 275, 78
STYLE NOT WS_VISIBLE | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP
CAPTION "Lütfen bekleyiniz..."
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL IDB_REACTOS, IDC_ROSLOGO, "Static", SS_BITMAP, 0, 0, 275, 54
    CONTROL "", IDC_BAR, "Static", SS_OWNERDRAW, 0, 44, 275, 4
    LTEXT "", IDC_STATUSLABEL, 7, 59, 235, 12, SS_WORDELLIPSIS
END

IDD_PS2MOUSEPROPERTIES DIALOGEX 0, 0, 252, 218
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Gelişmiş Ayarlar"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "", IDC_PS2STATIC, 5, 20, 242, 110
    RTEXT "Ö&rnekleme hızı:", -1, 27, 35, 90, 8
    LTEXT "saniyede bir bildirme", -1, 169, 35, 76, 8
    COMBOBOX IDC_PS2MOUSESAMPLERATE, 124, 33, 42, 41, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
    RTEXT "&Tekerlek algılaması:", -1, 27, 55, 90, 8
    COMBOBOX IDC_PS2MOUSEWHEEL, 124, 53, 95, 46, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
    RTEXT "&Girdi tampon uzunluğu:", -1, 27, 75, 90, 8
    LTEXT "paket", -1, 169, 75, 26, 8
    EDITTEXT IDC_PS2MOUSEINPUTLEN, 124, 72, 40, 14, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_BORDER
    CONTROL "", IDC_PS2MOUSEINPUTUPDN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 168, 70, 10, 14
    AUTOCHECKBOX "&Hızlı Başlatma", IDC_PS2MOUSEFASTINIT, 124, 97, 90, 10
    PUSHBUTTON "&Varsayılanlar", IDC_PS2MOUSEDEFAULTS, 195, 188, 50, 14
END

STRINGTABLE
BEGIN
    IDS_STATUS_INSTALL_DEV "Aygıtlar kuruluyor..."
END

/* ATTENTION: Synchronize these strings with dll/win32/shell32/lang */
STRINGTABLE
BEGIN
    IDS_PROGRAMFILES "%SystemDrive%\\Program Dosyaları"
    IDS_COMMONFILES "Ortak Dosyalar"
END

STRINGTABLE
BEGIN
    IDS_DETECTIONDISABLED "Algılama devre dışı"
    IDS_LOOKFORWHEEL "Tekerleği denetle"
    IDS_ASSUMEPRESENT "Tekerleği var say"
END

STRINGTABLE
BEGIN
    IDS_INSTALLADDONSCAPTION "Optional Components"
    IDS_INSTALLADDONSMESSAGE "Optional components are available to improve application compatibility.\n\nWould you like to download and install them?"
    IDS_INSTALLADDONSFAILEDMESSAGE "One or more optional components failed to install."
END
