/*
 * PROJECT:     ReactOS System Setup Library
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Chinese (Simplified) resource file
 * TRANSLATORS: Copyright 2018-2021 Luke Luo <njlyf2011@hotmail.com>
                Copyright 2021 Wu Haotian <rigoligo03@gmail.com>
 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDD_STATUSWINDOW_DLG DIALOGEX 0, 0, 275, 78
STYLE NOT WS_VISIBLE | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP
CAPTION "请稍候..."
FONT 9, "宋体"
BEGIN
    CONTROL IDB_REACTOS, IDC_ROSLOGO, "Static", SS_BITMAP, 0, 0, 275, 54
    CONTROL "", IDC_BAR, "Static", SS_OWNERDRAW, 0, 44, 275, 4
    LTEXT "", IDC_STATUSLABEL, 7, 59, 235, 12, SS_WORDELLIPSIS
END

IDD_PS2MOUSEPROPERTIES DIALOGEX 0, 0, 252, 218
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "高级设置"
FONT 9, "宋体"
BEGIN
    GROUPBOX "", IDC_PS2STATIC, 5, 20, 242, 110
    RTEXT "采样率(&S):", -1, 27, 35, 90, 8
    LTEXT "每秒报告", -1, 169, 35, 54, 8
    COMBOBOX IDC_PS2MOUSESAMPLERATE, 124, 33, 42, 41, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
    RTEXT "滚轮检测(&W):", -1, 27, 55, 90, 8
    COMBOBOX IDC_PS2MOUSEWHEEL, 124, 53, 95, 46, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
    RTEXT "输入缓冲区长度(&I):", -1, 27, 75, 90, 8
    LTEXT "数据包", -1, 169, 75, 26, 8
    EDITTEXT IDC_PS2MOUSEINPUTLEN, 124, 72, 40, 14, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_BORDER
    CONTROL "", IDC_PS2MOUSEINPUTUPDN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 168, 70, 10, 14
    AUTOCHECKBOX "快速初始化(&F)", IDC_PS2MOUSEFASTINIT, 124, 97, 72, 10
    PUSHBUTTON "默认值(&D)", IDC_PS2MOUSEDEFAULTS, 195, 188, 50, 14
END

STRINGTABLE
BEGIN
    IDS_STATUS_INSTALL_DEV "正在安装设备驱动程序..."
END

/* ATTENTION: Synchronize these strings with dll/win32/shell32/lang */
/* If there is no special situation, please DO NOT change English folder names
into Chinese, or it may cause problems in the system. */

STRINGTABLE
BEGIN
    IDS_PROGRAMFILES "%SystemDrive%\\Program Files"
    IDS_COMMONFILES "Common Files"
END

STRINGTABLE
BEGIN
    IDS_DETECTIONDISABLED "检测已禁用"
    IDS_LOOKFORWHEEL "寻找滚轮"
    IDS_ASSUMEPRESENT "假设存在滚轮"
END

STRINGTABLE
BEGIN
    IDS_INSTALLADDONSCAPTION "Optional Components"
    IDS_INSTALLADDONSMESSAGE "Optional components are available to improve application compatibility.\n\nWould you like to download and install them?"
    IDS_INSTALLADDONSFAILEDMESSAGE "One or more optional components failed to install."
END
