/*
 * PROJECT:     LiberNT SpacemiT K1 PMIC Driver
 * LICENSE:     GPL-3.0-or-later (https://spdx.org/licenses/GPL-3.0-or-later)
 * PURPOSE:     SpacemiT K1 PMIC driver version resource
 * COPYRIGHT:   Copyright 2026 Ahmed ARIF <arif.ing@outlook.com>
 */

#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION "SpacemiT K1 PMIC Driver"
#define REACTOS_STR_INTERNAL_NAME "k1xpmic"
#define REACTOS_STR_ORIGINAL_FILENAME "k1xpmic.sys"
#include <reactos/version.rc>
