# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2026 Ahmed ARIF <arif193@gmail.com>
CONFIG_DEFAULT_DEVICE_TREE="starfive/jh7110-orangepi-rv"
CONFIG_OF_LIST="starfive/jh7110-orangepi-rv"
CONFIG_DEFAULT_FDT_FILE="starfive/jh7110-orangepi-rv.dtb"
CONFIG_DEVICE_TREE_INCLUDES="starfive-visionfive2-u-boot.dtsi libernt-jh7110-sd-u-boot.dtsi"
# CONFIG_ENV_IS_IN_SPI_FLASH is not set
CONFIG_ENV_IS_NOWHERE=y
